@import url(menu-btn.css);

@font-face {
    font-family: poppins-light;
    src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(../fonts/poppins/Poppins-Medium.ttf);
}
/* BASE */

*{
    box-sizing: border-box;
}

html {
    font-family: poppins-light , sans-serif;
    color: white;
}

body {
    margin: 0;
    font-size: 1.375rem;
    background-color: #22252C;
    text-align: center;
}

.overflow-hidden {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-family: poppins-medium , sans-serif;
}

img {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.rtl {
    direction: rtl;
}

.bg-screen {
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(41, 39, 39, 0.808);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.bg-screen.show{
    opacity: 1;
    pointer-events: all;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
   }
   ::-webkit-scrollbar-thumb {
    background: linear-gradient(52deg, #30bb73 43%,#0f9bb3 64%);
    border-radius: 15px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #0f9bb3 14%,#30bb73 64%);
   }
   ::-webkit-scrollbar-track{
    background: #22252c;
    border-radius: 15px;
   }
/* HEADER */

.main-header {
    background:linear-gradient(to left,#0F9BB3,#30BB73);
    height: 74px;
    border-radius: 2em;
    align-items: center;
}

.main-header-logo {
    margin-inline-start: 82px ;
}

.nav-bar {
    margin-inline-end: 82px;
}

.link a {
    padding: 9.5px 21.5px;
}

.link {
    margin-inline-end: 20.5px;
}
.link {
    padding: 9.5px 21.5px;
    border-radius: 2em;
    transition: background-color .2s;
}

.link:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.link:hover a {
    color : #30BB73;
}

/* CONTENT - GALLERY VIEW */

.search-input-container{
    height: 60px;
    flex-grow: 1;
    background-color: #22252C;
    border-radius: 3em;
    margin: 15px;
    padding: 0 30px;
    align-items: center;
    border : 2px solid #20AC91;
    flex-shrink: 10;
    min-width: 200px;
}

.file-input-container{
    align-items: center;
    height: 60px;
    width: fit-content;
    margin: 15px;
    background-color: #22252C;
    border-radius: 3em;
    border : 2px solid #20AC91;
    transition: background-color .3s;
    font-size: 1.375rem;
    line-height: 1em;
    padding: 0 10px;
}
.file-input-container:hover{
    cursor: pointer;
    background-color:#383B42 ;
}

.file-input-container img {
    display: none;
    height: 35px;
    width: 35px;
}

.search-input {
    background-color: #22252C;
    border: none;
    font-size: 1.375rem;
    color: white;
    width: 100%;
}

.search-btn {
    height: 50px;
    width: 50px;
    background-color: #22252C;
    border:none;
    border-radius: 2em;
    padding: 0 10px;
    transition: background-color .3s;
}

.search-input:focus-visible {
    outline: none;
}

.search-btn:hover {
    background-color: white;
    cursor: pointer;
}

.search-icon {
    fill: green;
}

input[type="file"]{
    display: none;
}

.filter-opt:hover {
    cursor: pointer;
}

.gallery-view , .memes-view{
    background-color: #383B42;
    width: 98%;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
    height: calc(100vh - 100px);
}

.img-gallery-container {
    padding: 20px;
    height: 100%;
}

.img-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit , 201px);
    grid-template-rows: repeat(auto-fit , 176px);
    grid-row-gap: 25px ;
    grid-column-gap: 29px ;
    height: 91%;
    margin: auto;
    overflow-y: scroll;
    padding-top:15px;
}

.img-gallery img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: box-shadow .2s;
}

.img-gallery img:hover {
    -webkit-box-shadow: 0px 0px 7px 10px #20AC91; 
    box-shadow: 0px 0px 7px 10px #20AC91;
    cursor: pointer;
}

.filter-options {
    flex-grow: 2;
    align-items: center;
    background-color: #87898D;
    margin: 15px;
    border-radius:2em;
    padding: 0 20px;
}


/* CONTENT - EDITOR VIEW */ 

.editor-view {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.canvas-container , .edit-tools-container {
    width: 546px;
    height: 546px;
    background-color: #383B42;
    border-radius: 2em;
}

#my-canvas {
    border-radius: 2em;
}


.help-modal {
    background-color:#20ac90f6 ;
    width: fit-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
}
.x-btn {
    position: absolute;
    top: 5;
    left: 10;
    background-color: whitesmoke;
    color: black;
    padding: 0 5px;
    border-radius: 5px;
    border:1px solid black;
}

.x-btn:hover {
    cursor: pointer;
    background-color: rgb(150, 150, 150);
}

.help-modal h2{
    margin: 0;
}

.edit-tools-container {
    padding: 25px;
    align-items: center;
}

.add-text-container {
    width: 81%;
}

.switch-focus-btn {
    transition: background-color .3s;
    background-color: #35ACCA;
    -webkit-box-shadow: inset 0px -4px 0px 0px #048B97; 
    box-shadow: inset 0px -4px 0px 0px #048B97;
}
.switch-focus-btn:hover {
    background-color: #24778b;
}



.delete-text-btn {
    transition: background-color .3s;
    background-color: #E03736;
    -webkit-box-shadow: inset 0px -4px 0px 0px #8C0606; 
    box-shadow: inset 0px -4px 0px 0px #8C0606;
}

.delete-text-btn:hover {
    background-color: #a12727;
 }

.add-text-btn {
    transition: background-color .3s;
    background-color: #3FDC57;
    -webkit-box-shadow: inset 0px -4px 0px 0px #015D33; 
    box-shadow: inset 0px -4px 0px 0px #015D33;
}

.add-text-btn:hover {
    background-color: #2fa541;
}

.add-text-input {
    height: 60px;
    width: 100%;
    border-radius: 2em;
    font-size: 1.1875rem;
    font-family: poppins-medium;
    padding: 15px ;
    text-align: center;
}

.tools-btn-container {
    width: 220px;
    margin:15px auto;
    justify-content: center;
}

.tools-btn {
    height: 55px;
    width: 55px;
    border-radius: 0.7em;
    border: none;
}

.adjust-tools-container{
    background-color: #19A59F;
    justify-content: center;
    border-radius: 0.7em;
    grid-template-columns: repeat(5 , 55px);
    grid-row-gap: 12px;
    grid-column-gap: 25px;
    justify-items: center;
    padding: 15px;

}

.adjust-btn {
    height: 55px;
    width: 100%;
    background-color: white;
    border-radius: 0.7em;
    border: none;
    -webkit-box-shadow:inset 0px -5px 5px 0px #3E7D7A; 
    box-shadow:inset 0px -5px 5px 0px #3E7D7A;
    transition: background-color .2s;
}

.adjust-btn:hover {
    background-color: rgb(155, 153, 153);
}


.font-selector {
    padding-inline-start: 1rem ;
    font-size: 1.5rem;
    width:100% ;
    grid-column: span 3;
}
.color-label img{
    margin-top:3px;
}
.color-input {
    opacity: 0;
    height: 0;
}

.stickers-container {
    height: 92px;
    margin-top: 15px;
    border-radius: 4em;
    background-color: white;
}

.publish-form {
    flex-basis: 50%;
}

.publish-btns {
    margin-top: 15px;
}

.publish-btns button {
    font-size: 1.375rem;
    font-family: poppins-medium;
    flex-basis: 48%;
    height: 55px;
    border-radius: .7em;
    transition: background-color .2s;
    border: none;
}

.share-container {
    visibility: hidden;
    background-color: #4267b2;
}

.share-btn {
    background-color: #1E7CD3;
    -webkit-box-shadow: inset 0px -4px 0px 0px #1760a5; 
    box-shadow: inset 0px -4px 0px 0px #1760a5;
}

.download-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.share-btn:hover {
    background-color: #155794;
    color: white;
}

.download-btn {
    background-color: #8F44BB;
    -webkit-box-shadow: inset 0px -4px 0px 0px #6b328b; 
    box-shadow: inset 0px -4px 0px 0px #6b328b;
}

.download-btn:hover {
    background-color: #5f2d7c;
    color: white;
}

/* MEMES VIEW */

.img-gallery-container.memes{
    padding: 1px;
}

.memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 500px));
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    height: 100%;
    overflow-y: scroll;
}

.meme img {
    border-radius: 1em;
}


/* LAYOUTS */

.editor-layout{
    width: 90%;
}
/* Helpers */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}


/* MEDIAS */

@media (max-width:1200px) {
    html{
        font-size: 14px;
    }

    /* GALLERY */
   
    /* EDITOR */
    .canvas-container , .edit-tools-container {
        width: 450px;
        height: 450px;
        background-color: #383B42;
        border-radius: 2em;
    }

    .add-text-input {
        height: 45px;
    }

    .editor-layout {
        width: 95%;
    }

    .adjust-tools-container {
        grid-template-columns: repeat(5,45px);
        grid-column-gap: 15px;
    }

    .tools-btn {
        height: 45px;
        width: 45px;
    }

    .adjust-btn {
        height: 45px;
        width: 45px;
    }
    .font-selector{
        width: 100%;
    }

    .publish-btns button {
        height: 45px;
    }
}

@media (max-width:1060px) {
    .canvas-container , .edit-tools-container {
        width: 380px;
        height: 380px;
        background-color: #383B42;
        border-radius: 2em;
    }

    .edit-tools-container {
        padding: 10px;
    }

    .adjust-tools-container {
        grid-row-gap: 5px;
    }
}


@media (max-width:840px) {
    .editor-view {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .canvas-container , .edit-tools-container {
        width: 450px;
        height: 450px;
        background-color: #383B42;
        border-radius: 2em;
        margin-top: 20px;
    }

    .search-input-container {
        height: 50px;
        padding: 0 15px;
        flex-basis: 100%;
    }

    .file-input-container{
        height: 50px;
        padding: 0 15px;
    }

    .filter-options {
        display: none;
    }

    .adjust-tools-container {
        grid-row-gap: 15px;
    }

    .search-btn {
        height: 45px;
        padding: 5px;
    }

    .link{
        padding: 0px;
        margin: 5px;
        margin-inline-end: 0;
    }

    .link a {
        padding: 5px 11px;
    }
    .nav-bar {
        margin-inline-end: 20px;
    }
}

@media (max-width:540px) {

    .main-header{
        border-radius:0px;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        top:74px;
        right: 0px;
        transform: translateX(100%);
        transition: transform .3s;
        background-color: #139eabde;
        z-index: 2;
        margin-inline-end: 0;
    }
    .nav-bar .link {
        padding: 30px 30px;
        border-radius: 0;
        margin: 0;
    }

    .nav-bar .link:hover {
        padding: 30px 30px;
        background-color: #18bbcade;
    }

    .link:hover a {
        color: white;
    }


    .nav-bar.show{
        transform: translateX(0);
    }

    .canvas-container , .edit-tools-container {
        width: 400px;
        height: 400px;
        background-color: #383B42;
        border-radius: 2em;
        margin-top: 20px;
    }

    .edit-tools-container {
        height: fit-content;
    }

    .publish-btns {
        margin-top: 5px;
    }

    .tools-btn-container {
        margin: 8px auto;
    }
    .adjust-tools-container{
        padding: 10px;
    }


    .main-header-logo {
        margin-inline-start: 20px;
    }

    .img-gallery-container {
        padding: 0;
    }
    .img-gallery{
        grid-template-columns: repeat(auto-fit , 175px);
        grid-template-rows: repeat(auto-fit , 175px);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }

    .gallery-view{
        padding: 0px;
    }

    .memes-container {
        grid-template-columns: repeat(auto-fit , minmax(175px , 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 10px;
    }
    .file-input-container {
        background-color: rgb(66, 66, 66);
    }

    .file-input-container span {
        display: none;
    }
    .file-input-container img{
        display: block;
    }
}

@media (max-width:440px) {
    .canvas-container , .edit-tools-container {
        width: 350px;
        height: 350px;
        background-color: #383B42;
        border-radius: 2em;
        margin-top: 20px;
    }

    .img-gallery{
        grid-template-columns: repeat(auto-fit , 140px);
        grid-template-rows: repeat(auto-fit , 140px);
        grid-row-gap: 25px;
        grid-column-gap: 25px;
    }

    .edit-tools-container {
        height: fit-content;
    }
}